@media screen and ( max-width: 961px ) {

    .container {
        width: 750px;
        position: relative;
    }

    /* *
    *
    *   header
    *
    * */

    .logo--header {
        width: 20%;
    }

    .nav {
        width: 80%;
    }
       input, label {
    display: none;
}

}

@media screen and ( max-width: 801px ) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    /* *
    *
    *   header
    *
    * */

    .header {
        padding: 22px 0;
    }

    .logo--header {
        width: 140px;
        height:26px;
    }

    /* *
    *
    *   nav
    *
    * */

    .nav {
        position: absolute;
        right:15px;
        top: 50%;
        transform: translateY(-50%);
        width:30px;
    }


    .btn {
        display: inline-block;
        right: 0;
        width: 25px;
        height: 25px;
        background: url('../img/menu.svg');

    }
   
   .nav__list {
        position: absolute;
         /*open menu  */
        background: #fff;
        height: 100vh;
        z-index: 999;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
        will-change: right;
        transform: translateX(0);
        display: none;
    }

    input:checked ~ .nav__list {
        right: -15px;
        display: block;
   }

   input:checked ~ .btn {
        background-image: url('../img/clear.svg');
   }

    .nav__item {
        display: block;
        margin-left: 0;
    }

    .nav__item:hover:before,
    .current:before {
        background: none;
    }
    .nav__item:hover {
        background: #00abeb
      
    }

    .nav__link {
        text-align: left;
        padding-left:35px;
        padding-right:35px;
    }

    .nav__link:active {
        background: #437fc5;
        opacity: 1;
        color: #fff;
    }

    /* *
    *
    *   page-description
    *
    * */

    .page-description {
        padding: 0 20px;
    }

     /* *
    *
    *   price
    *
    * */

    .price {
        padding: 0;
    }

    .price__item {
        width: 49%;
        margin-top: 15px;
    }

    .description-wrap {
    padding-bottom: 50px;
}

}

@media screen and ( max-width: 731px ) {


}

@media screen and ( max-width: 600px ) {
    
    /* *
    *
    *   price
    *
    * */

    .price__item {
        width: 99%;
        margin-top: 20px;
    }

       .description-wrap {
    padding-bottom: 10px;
}


}



